*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}
html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  color: white;
}

.container-div{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-div{
  width: 100%;
  height: 70px;
  background-color: rgb(0, 0, 0);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
}

.main-div{
  width: 100%;
  /* background-color: rgb(0, 255, 110); */
  flex-grow: 1;
  overflow-y: auto;
}

.footer-div{
  width: 100%;
  height: 70px;
  background-color: rgb(0, 0, 0);
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 18px;
   text-align: center;
   line-height: 70px;
}

.mybtn{
  border: none;
  background-color: rgb(7, 125, 184);
  /* width: 80px; */
  padding: 4px 10px;
  border-radius: 5px;
  font-size: 18px;
  margin: 100px;
  color: white;
}

/* .card{
min-height: 100%;
max-height: 100%;
  width: 100%;
} */

/* .product-image{
  height: 200px;
  object-fit: cover;
} */

